
		<!-- Top menu -->
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../../index.html">Bootstrap Search Template</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="collapse navbar-collapse" id="top-navbar-1">
					<form class="form-control input-group loginmargins row">
					<ul class="nav navbar-nav navbar-right navbar-search-button">
						<li><a class="search-button" href=""><i class="fa fa-search"  ng-click="model.redirectToSearchResults(searchText)"></i></a></li>
					</ul>
						<input type="text" ng-model="searchText" placeholder="Search..." class="search form-control">
						<span class="form-control">

					</a>
						</span>



				</form>
					<ul class="nav navbar-nav navbar-right navbar-menu-items wow fadeIn">
						<li><a href="">Home</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">About</a></li>
						<li><a href="">Mission</a></li>
						<li><a href="">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text wow fadeInLeft bg-primary">
                        <h1>Bootstrap <strong>Search</strong> Template</h1>
                        <div class="description">
                        	<p class="medium-paragraph">
                         	This is a free "search box / form / bar" made with the Bootstrap framework.
                         	Download it on <a href="http://azmind.com">AZMIND</a> and enjoy!
                        	</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features -->
        <div class="features-container section-container">
	        <div class="container">

	            <div class="row">
	                <div class="col-sm-12 features section-description wow fadeIn">
	                    <h2>bootstrap search bar</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>

	            <div class="row">
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-cloud"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>ut wisi enim ad minim</h3>
		                    	<p>
		                    		abcd
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-instagram"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>sed do eiusmod tempor</h3>
		                    	<p>
		                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                    		Ut wisi enim ad minim veniam, quis nostrud.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	            </div>

	            <div class="row">
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-paperclip"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>quis nostrud exerci tat</h3>
		                    	<p>
		                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                    		Ut wisi enim ad minim veniam, quis nostrud.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-twitter"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>minim veniam quis nostrud</h3>
		                    	<p>
		                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                    		Ut wisi enim ad minim veniam, quis nostrud.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	            </div>

	        </div>
        </div>
