<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand proj-navbar-font proj-navbar-heading" ng-href="#!/" ><b>Peanut</b></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/login"> <b class="proj-navbar-color proj-navbar-font">Welcome {{model.useremail}}! </b> </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="padding-top: 50px">
    <!--<div style="width:800px;">
        <div style="width:300px; float:left;background-color: #1b6d85">
            <h1>jdkbck</h1>
        </div>
        <div style="width:300px; float:right;background-color: #2b669a">
            <h1>ejhdvhj</h1>
        </div>
    </div>-->
    <div class="row">
        <div class="col-sm-6" ng-show="model.flag==='r'">
            <h1 style="font-family: monospace;padding-left: 20%">Nothing to show. Please link your bank Account first!</h1>
        </div>
        <div class="col-sm-6">
            <h1 ng-show="model.flag==='l'" style="font-family: monospace;padding-left: 20%;padding-bottom: 12%">Expenditure Trends&nbsp<i class="fa fa-line-chart fa-1x" aria-hidden="true"></i></h1>
            <div ng-show="model.flag==='l'" ng-repeat="category in model.useravg">
                <a href="">
                    <h2 style="font-family: monospace;padding-left: 25%"><i class="fa fa-glass fa-1x" aria-hidden="true"></i>&nbsp{{category._id}}&nbsp<i ng-show="model.dict[category._id]>=0" style="color: green" class="fa fa-arrow-up" aria-hidden="true">+${{model.dict[category._id]}}</i><i ng-show="model.dict[category._id]<0" style="color: red" class="fa fa-arrow-down" aria-hidden="true">-${{model.dict[category._id]}}</i>&nbsp;</h2>
                </a>
            </div>
            <!--<div ng-show="model.flag==='l'" style="padding-top: 10%">
                <a href=""><h2 style="font-family: monospace;padding-left: 25%"><i class="fa fa-glass fa-1x" aria-hidden="true"></i>&nbspFood and Drinks&nbsp<i style="color: green" class="fa fa-arrow-up" aria-hidden="true"></i><i style="color: red" class="fa fa-arrow-down" aria-hidden="true"></i></h2> </a>
                <a href=""><h2 style="font-family: monospace;padding-left: 25%"><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbspShopping&nbsp<i style="color: green" class="fa fa-arrow-up" aria-hidden="true"></i><i style="color: red" class="fa fa-arrow-down" aria-hidden="true"></i></h2></a>
                <a href=""><h2 style="font-family: monospace;padding-left: 25%"><i class="fa fa-car" aria-hidden="true"></i>&nbspTravel&nbsp<i style="color: green" class="fa fa-arrow-up" aria-hidden="true"></i><i style="color: red" class="fa fa-arrow-down" aria-hidden="true"></i></h2></a>
                <a href=""><h2 style="font-family: monospace;padding-left: 25%"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbspPayment&nbsp<i style="color: green" class="fa fa-arrow-up" aria-hidden="true"></i><i style="color: red" class="fa fa-arrow-down" aria-hidden="true"></i></h2></a>
                <a href=""><h2 style="font-family: monospace;padding-left: 25%"><i class="fa fa-money" aria-hidden="true"></i>&nbspTransfer&nbsp<i style="color: green" class="fa fa-arrow-up" aria-hidden="true"></i><i style="color: red" class="fa fa-arrow-down" aria-hidden="true"></i></h2></a>
            </div>-->
            <div style="padding-top: 8%">
                <a style="height: 50%" class="btn btn-primary btn-block"
                   ng-click="model.linkAccount()">Link Account</a>
            </div>
        </div>
        <div class="col-sm-6" ng-show="model.flag==='l'">
            <div>
                <h1 style="font-family: monospace;padding-left: 20%">Your monthly expenditure</h1>
                <!--<a class="btn btn-primary btn-block"
                   href="#!/transactions/{{model.useremail}}">View Transactions</a>-->
                <div style="padding-top: 14%">
                    <canvas  id="bar" class="chart chart-bar"
                             chart-data="data" chart-labels="labels" chart-series="series">
                    </canvas>

                </div>
                <!--<div>

                </div>-->
            </div>
        </div>
    </div>
</div>


